@import url(reset.css);
html {
  font-size: 62.5%; }

.spc-24 {
  font-size: 24px; }

.spc-12 {
  font-size: 12px;
  color: #b9b9b9; }

.spc-11 {
  font-size: 20px;
  color: #76bff2; }

html, body, .warp {
  width: 100%;
  height: 100%;
  background: none;
  display: -webkit-box;
  -webkit-box-orient: vertical; }

.warp header {
  width: 100%;
  height: 50px;
  background: none;
  background: url(../images/2_03.png);
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  padding-top: 5px; }
  .warp header .header_left {
    width: 50px;
    height: 37px;
    background: none; }
    .warp header .header_left dl dt img {
      width: 17px;
      height: 17px;
      background: none;
      padding-left: 16px; }
    .warp header .header_left dl dd {
      padding-top: 4px;
      color: white;
      font-weight: bold;
      padding-left: 11px; }
  .warp header .header_center {
    width: 100%;
    height: 32px;
    background: none;
    -webkit-box-flex: 1;
    line-height: 32px;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    border: 1px solid #ccc;
    background: #bd989c;
    border-radius: 5px;
    padding-bottom: 3px; }
    .warp header .header_center .header_center_left {
      width: 31px;
      height: auto;
      background: none; }
      .warp header .header_center .header_center_left img {
        width: 16px;
        height: 16px;
        background: none;
        padding-left: 8px; }
    .warp header .header_center .header_center_center {
      -webkit-box-flex: 1; }
      .warp header .header_center .header_center_center input {
        width: 100%;
        height: 33px;
        background: none;
        border-radius: 5px;
        box-sizing: border-box;
        border: none; }
      .warp header .header_center .header_center_center input::-webkit-input-placeholder {
        color: white;
        font-weight: bold;
        -webkit-transform: scale(0.9);
        font-size: 12px; }
    .warp header .header_center .header_center_right {
      width: 31px;
      height: auto;
      background: none; }
      .warp header .header_center .header_center_right img {
        width: 16px;
        height: 16px;
        background: none; }
  .warp header .header_right {
    width: 50px;
    height: 37px;
    background: none; }
    .warp header .header_right dl dt img {
      width: 17px;
      height: 17px;
      background: none;
      padding-left: 16px; }
    .warp header .header_right dl dd {
      padding-top: 4px;
      color: white;
      font-weight: bold;
      padding-left: 11px; }
.warp section {
  -webkit-box-flex: 1;
  overflow-y: auto; }
  .warp section::-webkit-scrollbar {
    width: 0; }
  .warp section .banner .swiper-slide img {
    width: 100%;
    height: auto;
    background: none; }
  .warp section .nav {
    width: 100%;
    height: auto;
    background: #f3f3f3; }
    .warp section .nav .nav_top {
      width: 100%;
      height: 62px;
      background: #f3f3f3;
      display: -webkit-box;
      -webkit-box-orient: horizontal;
      padding-top: 15px; }
      .warp section .nav .nav_top dl {
        -webkit-box-flex: 1;
        text-align: center; }
        .warp section .nav .nav_top dl dt {
          padding-left: 5px; }
          .warp section .nav .nav_top dl dt img {
            width: auto;
            height: 48px;
            background: none; }
        .warp section .nav .nav_top dl dd {
          padding-top: 4px;
          padding-left: 5px;
          color: #85878a;
          -webkit-transform: scale(0.9);
          font-size: 10px; }
    .warp section .nav .nav_bottom {
      width: 100%;
      height: auto;
      background: #f3f3f3;
      box-sizing: border-box;
      padding: 10px; }
      .warp section .nav .nav_bottom .nav_bottom_left {
        width: 100%;
        height: auto;
        background: white;
        display: -webkit-box;
        -webkit-box-orient: horizontal;
        border-radius: 8px;
        line-height: 34px;
        padding-left: 2px; }
        .warp section .nav .nav_bottom .nav_bottom_left img {
          width: 61px;
          height: auto;
          background: none; }
        .warp section .nav .nav_bottom .nav_bottom_left .p1 {
          color: red;
          font-weight: bold;
          -webkit-transform: scale(0.9);
          font-size: 12px;
          padding-left: 5px; }
        .warp section .nav .nav_bottom .nav_bottom_left .p2 {
          color: black;
          -webkit-transform: scale(0.9);
          font-size: 12px;
          font-weight: bold; }
  .warp section .main {
    width: 100%;
    height: auto;
    background: white;
    position: relative; }
    .warp section .main .main_h1 {
      display: -webkit-box;
      -webkit-box-orient: horizontal;
      line-height: 26px; }
      .warp section .main .main_h1 h1 {
        font-weight: bold;
        font-size: 14px;
        padding-left: 8px; }
      .warp section .main .main_h1 span {
        margin-left: 5px;
        border: 1px solid #ccc;
        padding: 1px; }
    .warp section .main .main_h2 {
      display: -webkit-box;
      -webkit-box-orient: horizontal;
      -webkit-box-flex: 1;
      position: absolute;
      top: 5px;
      right: 8px;
      color: red; }
      .warp section .main .main_h2 span {
        width: 13px;
        height: 13px;
        background: red;
        display: inline-block;
        margin: 0 1px;
        margin-top: 1px;
        line-height: 13px;
        text-align: center;
        font-size: 14px;
        border-radius: 15px;
        color: white; }
  .warp section .main2 .swiper-wrapper {
    width: 100%;
    height: auto;
    background: none;
    display: -webkit-box;
    -webkit-box-orient: horizontal; }
    .warp section .main2 .swiper-wrapper .swiper-slide dl dt img {
      width: 100px;
      height: auto;
      background: none;
      padding-left: 15px; }
    .warp section .main2 .swiper-wrapper .swiper-slide dl dd .p3 {
      color: red;
      font-size: 16px; }
    .warp section .main2 .swiper-wrapper .swiper-slide dl dd .p4 {
      text-decoration: line-through;
      font-size: 14px;
      color: #ccc;
      padding-left: 4px; }
  .warp section .main3 img {
    width: 100%;
    height: auto;
    background: none; }
.warp footer {
  width: 100%;
  height: 50px;
  background: none;
  display: -webkit-box;
  -webkit-box-orient: horizontal; }
  .warp footer dl {
    -webkit-box-flex: 1;
    padding-left: 24px;
    padding-top: 8px; }
    .warp footer dl dt img {
      width: auto;
      height: 22px;
      background: none; }
